extends ../layout

block content
    h1 登录
        form(method = 'post')
            input(type = 'text',name = 'username')
            |
            |
            input(type = 'password',name = 'password')
            input(type = 'submit')
